html, body {
margin:0px;
padding:0px;
height: 100%;
width: 100%;
font-family: arial;
}

#main {
width: 640px;
height: 480px;
border: 1px solid black;
}

#chat {
background-color: #e0ebeb;
width:100%;
height: 80%;
overflow: scroll;
}

#message {
width:100%;
}